@font-face {
  font-family: "font1";
  src: url("./Inter-Bold.ttf");
}
@font-face {
  font-family: "font2";
  src: url("./Inter-ExtraBold.ttf");
}
@font-face {
  font-family: "font3";
  src: url("./Inter-Medium.ttf");
}
@font-face {
  font-family: "font4";
  src: url("./Inter-Regular.ttf");
}
h1,h2,h3,h4,h6{
  font-family: font4,font3;
}
h1{
  font-family: font1,font3,font4;
}
*{
  font-family: font4,font3,font2;
}