.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login-form,
.register-form {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4fefd;
}

.login-form h2,
.register-form h2 {
  margin-top: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #0ef6cc;
  color: #1b2223;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3a4f50;
  color: #0ef6cc;
}

/* Дополнительные стили для форм регистрации */
.register-form {
  background-color: #1b2223;
  color: #f4fefd;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"] {
  background-color: #3a4f50;
  color: #f4fefd;
  border: 1px solid #0ef6cc;
}

/* Стили для ссылок регистрации и возврата на страницу входа */
.register-link {
  color: #0ef6cc;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-weight: bold;
}

.register-link:hover {
  color: #3a4f50;
}

 body {
   font-family: Arial, Helvetica, sans-serif;
}
.back {
   text-decoration: none;
   color: gray;
 }